<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ying.administrator.masterappdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"  android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activity.Order_Receiving_Activity"
            android:theme="@style/AppTheme.Receicing">

        </activity>
        <activity android:name=".activity.LoginActivity" android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>

        <!--工单详情-->
        <activity android:name=".activity.Order_details_Activity" android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".activity.Verified_Activity" android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!--引导页-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>