<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ying.administrator.masterappdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--扫描条形码权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--Bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>


    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />    <!-- 读取短信权限 -->


    <uses-permission android:name="android.permission.WRITE_CALENDAR" /><!--日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />


<!--



    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

-->


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        >


        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="com.ying.administrator.masterappdemo.fileProvider"

            android:grantUriPermissions="true"

            android:exported="false"
            tools:replace="android:authorities">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"/>

        </provider>


        <service android:name="com.amap.api.location.APSService"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="34c7c57316ca676e492e288c3866195c"/>
           <!--广播接受者-->

        <!--推送接收-->
        <receiver android:name=".receiver.XGPushReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.HWReceiver" >
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".receiver.XMReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"
            android:launchMode="singleTask"/>


        <activity android:name=".mvp.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".mvp.ui.activity.Order_Receiving_Activity"
            android:theme="@style/AppTheme.Receicing"
            android:launchMode="singleTask">

        </activity>



        <!--登录-->
        <activity android:name=".mvp.ui.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>

        <!--工单详情-->
        <activity android:name=".mvp.ui.activity.Order_details_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:launchMode="singleTask">

        </activity>

        <activity android:name=".mvp.ui.activity.Verified_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">

        </activity>
        <!--引导页-->
        <activity android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--提现界面-->
        <activity android:name=".mvp.ui.activity.WithDrawActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" android:launchMode="singleTask">


        </activity>
        <!--我的钱包界面-->
        <activity android:name=".mvp.ui.activity.Wallet_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"/>

        <!--实名认证成功界面-->
        <activity android:name=".mvp.ui.activity.Certification_passed_Activity"
            android:theme="@style/AppTheme.Receicing"
            android:launchMode="singleTask"/>


        <!--分享界面-->
              <activity android:name=".mvp.ui.activity.Share_Activity"
                        android:theme="@style/AppTheme.Receicing"
                  android:launchMode="singleTask">

               </activity>

        <!--设置界面-->
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            />
        <!--关于我们-->
        <activity android:name=".mvp.ui.activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <!--我的个人信息-->
        <activity android:name=".mvp.ui.activity.Personal_Information_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <!--意见反馈-->
        <activity android:name=".mvp.ui.activity.Opinion_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>

        <activity android:name="com.amap.searchdemo.MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask">


        </activity>
        <activity android:name=".mvp.ui.activity.ScanActivity" android:launchMode="singleTask"/>
        <!--我的技能-->
        <activity android:name=".mvp.ui.activity.MySkillsActivity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--注册界面-->
        <activity android:name=".mvp.ui.activity.RegisterActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:launchMode="singleTask"/>
        <!--添加配件-->
        <!--完成工单-->
        <activity android:name=".mvp.ui.activity.CompleteWorkOrderActivity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask" android:windowSoftInputMode="stateHidden"/>
        <!--添加配件-->
        <activity android:name=".mvp.ui.activity.Order_Add_Accessories_Activity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--子账号管理-->
        <activity android:name=".mvp.ui.activity.SubAccountManagementActivity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--智能客服-->
        <activity android:name=".mvp.ui.activity.IntelligentCustomerServiceActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" android:launchMode="singleTask"/>
        <!--修改昵称-->
        <activity android:name=".mvp.ui.activity.ChageUserNameActivity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--修改密码-->
        <activity android:name=".mvp.ui.activity.ChagePasswordActivity" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--修改实名认证-->
        <activity android:name=".mvp.ui.activity.VerifiedUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!--修改服务区域-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaUpdataActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!--修改个人服务区域-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!--订单详情-->
        <activity android:name=".mvp.ui.activity.WorkOrderDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!--订单详情-->
        <activity android:name=".mvp.ui.activity.WorkOrderDetailsActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".mvp.ui.activity.ArticleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".mvp.ui.activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!--新浪start-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪end-->
        <!--微信start-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask"/>
        <!--微信end-->
        <!--QQstart-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108047427" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask"/>
        <!--QQend-->
        <!--我的消息页面技能-->
        <activity android:name=".mvp.ui.activity.MyInfoSkillsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <!--添加服务技能-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaActivity"
            android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>
        <!--充值界面-->
        <activity android:name=".mvp.ui.activity.RechargeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        <!-- wx sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>


        <!--头像裁剪-->
        <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


        <!--银行卡列表-->

        <activity android:name=".mvp.ui.activity.CardList_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            />

        <!--添加银行卡页面-->
         <activity android:name=".mvp.ui.activity.Add_Card_Activity"
             android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
             />

        <!--工单消息-->
        <activity android:name=".mvp.ui.activity.OrderMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <!--交易信息-->
        <activity android:name=".mvp.ui.activity.TransactionMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <!--详细的交易记录actvity-->

        <activity android:name=".mvp.ui.activity.DetailRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
         <!--新的注册activity-->

        <activity android:name=".mvp.ui.activity.Register_New_Activity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask"
            />

        <!--新的登陆-->

        <activity android:name=".mvp.ui.activity.Login_New_Activity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask"
            />

       <!--找回密码-->

        <activity android:name=".mvp.ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask"
            />

       <!--验证码登陆-->

        <activity android:name=".mvp.ui.activity.ToteLoginActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask"
            />


       <!-- <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
                    -->


        <activity android:name=".mvp.ui.activity.CustomChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            />


        <receiver
            android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


         <!--读取短信-->


        <!-- wx sdk end -->
    </application>



</manifest>