<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ying.administrator.masterappdemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--指纹权限-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!--扫描条形码权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--Bugly-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--震动权限-->


    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />    <!-- 读取短信权限 -->


    <uses-permission android:name="android.permission.WRITE_CALENDAR" /><!--日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />



    <uses-permission android:name="android.permission.INTERNET"/>



    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
<!--



    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

-->


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:theme"
        >

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="${applicationId}.fileProvider"

            android:grantUriPermissions="true"

            android:exported="false"
            tools:replace="android:authorities">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"/>

        </provider>

        <service android:name="com.amap.api.location.APSService"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="34c7c57316ca676e492e288c3866195c"/>
           <!--广播接受者-->

        <!--推送接收-->
        <receiver android:name=".receiver.XGPushReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.HWReceiver" >
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".receiver.XMReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"
             android:launchMode="singleTask" />


        <!--登录-->

        <!--工单详情-->
        <activity android:name=".mvp.ui.activity.Order_details_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
             android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--申请配件-->
        <activity android:name=".v3.activity.ApplyAccActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--申请配件-->
        <activity android:name=".v3.activity.ApplyAcc_ProdsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--申请配件-->
        <activity android:name=".v3.activity.AccListActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.Verified_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
             android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--引导页-->
        <activity android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--提现界面-->
        <activity android:name=".mvp.ui.activity.WithDrawActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="stateHidden"  android:launchMode="singleTask"
            android:screenOrientation="portrait">


        </activity>
        <!--我的钱包界面-->
        <activity android:name=".mvp.ui.activity.Wallet_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--实名认证成功界面-->


        <!--分享界面-->
              <activity android:name=".mvp.ui.activity.Share_Activity"
                        android:theme="@style/AppTheme.Receicing"
                   android:launchMode="singleTask"
            android:screenOrientation="portrait">

               </activity>

        <!--设置界面-->
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".mvp.ui.activity.SettingActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <!--消息设置界面-->
        <activity
            android:name=".mvp.ui.activity.MessageSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <!--关于我们-->
        <activity android:name=".mvp.ui.activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--我的个人信息-->
        <activity android:name=".mvp.ui.activity.Personal_Information_Activity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--意见反馈-->
        <activity android:name=".mvp.ui.activity.Opinion_Activity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--留言消息-->
        <activity android:name=".mvp.ui.activity.LeaveMessageActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.amap.searchdemo.MainActivity"
            android:theme="@style/AppTheme.Splash"
             android:launchMode="singleTask">


        </activity>
        <activity android:name=".mvp.ui.activity.ScanActivity"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--我的技能-->
        <activity android:name=".mvp.ui.activity.MySkillsActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.StudyActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.ExamActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.AnswerActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.GradeActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.ViewTheAnswerActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".UpgradeActivity"  android:launchMode="singleTask"
            android:theme="@style/dialogstyle"/>
        <!--注册界面-->
        <!--添加配件-->
        <!--完成工单-->
        <activity android:name=".mvp.ui.activity.CompleteWorkOrderActivity"  android:theme="@style/AppTheme.NoActionBar1" android:launchMode="singleTask"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <!--添加配件-->
        <activity android:name=".mvp.ui.activity.Order_Add_Accessories_Activity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--子账号管理-->
        <activity android:name=".mvp.ui.activity.SubAccountManagementActivity" android:theme="@style/AppTheme.NoActionBar1"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--智能客服-->
        <activity android:name=".mvp.ui.activity.IntelligentCustomerServiceActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--修改昵称-->
        <activity android:name=".mvp.ui.activity.ChageUserNameActivity" android:theme="@style/AppTheme.NoActionBar"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--修改密码-->
        <activity android:name=".mvp.ui.activity.ChagePasswordActivity" android:theme="@style/AppTheme.NoActionBar1"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--修改实名认证-->
        <activity android:name=".mvp.ui.activity.VerifiedUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--修改服务区域-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaUpdataActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--拍摄-->
        <activity android:name=".mvp.ui.activity.ShootActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--修改个人服务区域-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaInfoActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--订单详情-->
        <!--订单详情-->
        <!--附属账号-->
        <!--附属账号列表-->
        <!--订单列表-->
        <activity android:name=".mvp.ui.activity.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--订单列表-->
        <activity android:name=".mvp.ui.activity.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--密码-->
        <activity android:name=".mvp.ui.activity.AccountAndSecurityActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--支付密码-->
        <activity android:name=".mvp.ui.activity.SettingPayPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--商品-->
        <!--退换货-->
        <activity android:name=".mvp.ui.activity.ReturnActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--退换货详情页-->
        <activity android:name=".mvp.ui.activity.AfterSaleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--确认订单-->
        <activity android:name=".mvp.ui.activity.ConfirmOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--地址列表-->
        <activity android:name=".mvp.ui.activity.ShippingAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--添加地址-->
        <activity android:name=".mvp.ui.activity.AddAddressActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--实名照片-->
        <activity android:name=".mvp.ui.activity.VerifiedPhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--结算完成-->
        <activity android:name=".mvp.ui.activity.PaymentSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--购物车-->
        <!--退换货-->
        <activity android:name=".mvp.ui.activity.AfterSalesTypeActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--退换货详情-->
        <activity android:name=".mvp.ui.activity.ReturnGoodsActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--商品详情-->
        <activity android:name=".mvp.ui.activity.GoodsDetailActivity"
            android:theme="@style/AppTheme.Goods"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".mvp.ui.activity.ArticleActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".mvp.ui.activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".mvp.ui.activity.WebActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!--新浪start-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
             android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
             android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪end-->
        <!--微信start-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
             android:launchMode="singleTask" />
        <!--微信end-->
        <!--QQstart-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108047427" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--QQend-->
        <!--我的消息页面技能-->
        <activity android:name=".mvp.ui.activity.MyInfoSkillActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--添加服务技能-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaActivity"
            android:theme="@style/AppTheme.NoActionBar1"  android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--充值界面-->
        <activity android:name=".mvp.ui.activity.RechargeActivity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        <!-- wx sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>


        <!--头像裁剪-->
        <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


        <!--银行卡列表-->

        <activity android:name=".mvp.ui.activity.CardList_Activity"
            android:theme="@style/AppTheme.NoActionBar1"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <!--绑定手机号-->

        <activity android:name=".mvp.ui.activity.BindPhoneActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask"
            />

        <!--添加银行卡页面-->
         <activity android:name=".mvp.ui.activity.Add_Card_Activity"
             android:theme="@style/AppTheme.NoActionBar1"
              android:launchMode="singleTask"
            android:screenOrientation="portrait"
             />
        <!--新实名认证-->
         <activity android:name=".mvp.ui.activity.VerifiedActivity2"
             android:theme="@style/AppTheme.NoActionBar1"
              android:launchMode="singleTask"
            android:screenOrientation="portrait"
             />

        <!--新添加技能-->
        <activity android:name=".mvp.ui.activity.MySkillActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <!--工单消息-->
        <activity android:name=".mvp.ui.activity.OrderMessageActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
            />
        <!--投诉-->

        <activity android:name=".mvp.ui.activity.ComplaintActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            />

        <!--投诉详情-->

        <activity android:name=".mvp.ui.activity.ComplaintDetailActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            />
        <!--交易信息-->
        <activity android:name=".mvp.ui.activity.TransactionMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <!--详细的交易记录actvity-->

        <activity android:name=".mvp.ui.activity.DetailRecordActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            />
         <!--新的注册activity-->

        <activity android:name=".mvp.ui.activity.Register_New_Activity"
            android:theme="@style/AppTheme.Splash"
             android:launchMode="singleTask"
            />


        <!--新的登陆-->

        <activity android:name=".mvp.ui.activity.Login_New_Activity"
            android:theme="@style/AppTheme.Splash"
             android:launchMode="singleTask"
            />

       <!--找回密码-->

        <activity android:name=".mvp.ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.Splash"
             android:launchMode="singleTask"
            />

       <!--验证码登陆-->

        <activity android:name=".mvp.ui.activity.ToteLoginActivity"
            android:theme="@style/AppTheme.Splash"
             android:launchMode="singleTask"
            />

      <!--添加配件页面-->
        <activity android:name=".mvp.ui.activity.NewAddAccessoriesActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <!--留言页面-->
        <activity android:name=".mvp.ui.activity.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!--留言页面-->
        <activity android:name=".mvp.ui.activity.MessageActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!--放大图片-->
        <activity android:name=".mvp.ui.activity.PhotoViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>


        <!--配件图片上传-->
        <activity android:name=".mvp.ui.activity.AccessoriesPictureActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>


        <!--远程费申请-->

        <!-- <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation" />
         <activity android:name="io.card.payment.DataEntryActivity" />
                     -->




        <receiver
            android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <activity android:name="com.m7.imkfsdk.MainActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.OfflineMessageActicity"/>
        <activity android:name="com.m7.imkfsdk.chat.ChatActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.ScheduleOfflineMessageActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.ImageViewLookActivity"/>
        <activity android:name="com.m7.imkfsdk.MoorWebCenter"/>
        <activity android:name="com.m7.imkfsdk.SettingActivity"/>
        <service android:name="com.moor.imkf.tcpservice.service.IMService"
            android:priority="2147483647"
            />

        <receiver android:name="com.moor.imkf.receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <!--自己定义消息接收的广播-->
        <receiver
            android:name="com.m7.imkfsdk.receiver.NewMsgReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="com.m7.imkfsdk.KEFU_NEW_MSG" />
            </intent-filter>
        </receiver>

         <!--读取短信-->


        <!-- wx sdk end -->


        <!--v3主页-->
        <activity android:name=".v3.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--v3消息-->
        <activity android:name=".v3.activity.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--v3我的钱包-->
        <activity android:name=".v3.activity.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--v3个人信息-->
        <activity android:name=".v3.activity.PersonalInformationActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--v3设置-->
        <activity android:name=".v3.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--v3设置-->
        <activity android:name=".v3.activity.OrderSettingActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--v3报价详情-->
        <activity android:name=".v3.activity.QuoteDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--v3搜索-->
        <activity android:name=".v3.activity.SearchOrderActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--预约详情-->
        <activity android:name=".v3.activity.AppointmentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--意见反馈-->
        <activity android:name=".v3.activity.FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--服务中详情-->
        <activity android:name=".v3.activity.ServingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--费用详情-->
        <activity android:name=".v3.activity.FeeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--远程费申请-->
        <activity android:name=".v3.activity.ApplyFeeActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--添加配件与服务-->
        <activity android:name=".v3.activity.ApplicationAccessoriesActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--添加配件-->
        <activity android:name=".v3.activity.NewAddAccessoriesActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--添加配件图片-->
        <activity android:name=".v3.activity.AccessoriesPictureActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--配件单详情-->
        <activity android:name=".v3.activity.AccessoriesDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--物流详情-->
        <activity android:name=".v3.activity.LogisticsActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--工单跟踪-->
        <activity android:name=".v3.activity.TicketTrackingActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--系统通知-->
        <activity android:name=".v3.activity.SystemNotificationActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--子账号详情-->
        <activity android:name=".v3.activity.SubAccountDetails"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--完结详情-->
        <activity android:name=".v3.activity.EndOrderActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--维修资料-->
        <activity android:name=".v3.activity.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--提现-->
        <activity android:name=".v3.activity.WithdrawActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--添加服务区域-->
        <activity android:name=".v3.activity.AddServiceAreaActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--添加服务区域省市区列表-->
        <activity android:name=".mvp.ui.activity.ServiceAreaProvinceActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--添加服务区域省市区列表-->
        <activity android:name=".mvp.ui.activity.ServiceAreaCityActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--添加服务区域省市区列表-->
        <activity android:name=".mvp.ui.activity.ServiceAreaAreaActivity"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--修改服务区域-->
        <activity android:name=".mvp.ui.activity.AddServiceAreaInfoActivity2"
            android:theme="@style/AppTheme.NoActionBar1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            tools:node="replace"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="cn.jpush.android.ui.PopWinActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            tools:node="replace"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".v3.push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/AppTheme.NoActionBar1"/>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".v3.push.PushMessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".v3.push.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>



</manifest>